.docker-run-cache
.tag-dirs
.tags-*
.image-*
images.mk
rules.mk
entrypoint.mk
docker/golang/*/entrypoint.sh
docker/nodejs/*/entrypoint.sh
docker/ubuntu/*/entrypoint.sh
docker/ubuntu-vsc-base/*/entrypoint.sh
